<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<footer class="footer">
  	<p style="text-align: center;color: #8852DB; font-size: 1.5em;" >copyright:2020@ayonalmamun. All Rights Reserved</p>
	
	 
</footer>
</body>
</html>


    