<!DOCTYPE html>
<html>
<head>
	<title>নীড়</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
	<script src="https://kit.fontawesome.com/d16223103c.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="/"><i class="fas fa-home"> নীড়</i></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarCollapse">
	  		<ul class="navbar-nav mr-auto">
	  			<li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
			</ul>
    		<ul class="navbar-nav navbar-right">
					<% if(!currentUser){ %>
						<li class="nav-item"><a href="/login" class="nav-link">Login <i class="fas fa-sign-in-alt"></i></a></li>
						<li class="nav-item"><a href="/signup" class="nav-link">Sign Up <i class="fas fa-user-plus"></i></a></a></li>
					<% } else { %>
						<li class="nav-item"><a href="#" class="nav-link">Logged In As <%= currentUser.username %> <i class="fas fa-fingerprint"></i></a></li>
						<li class="nav-item"><a href="/logout" class="nav-link">Logout <i class="fas fa-sign-out-alt"></i></a></li>
					<% } %>
			</ul>
  		</div>
	</nav>

	<div class="container">
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert"><%= error %></div>
		<% } %>
		
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>
		
	</div>
