<!DOCTYPE html>
<html>
    <head>
        <title>নীড়</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>

    <body>
        <div class="container">
	        <% if(error && error.length > 0){ %>
		        <div class="alert alert-danger" role="alert"><%= error %></div>
	        <% } %>
		
	        <% if(success && success.length > 0){ %>
		        <div class="alert alert-success" role="alert"><%= success %></div>
	        <% } %>
    
    <div id="landing-header">
 		<h1>Welcome to নীড়!</h1>
		<a href="/flats" class="btn btn-lg btn-success mt-4">View All Flats</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
