<!DOCTYPE html>
<html>
<head>
	<title>Ghor-Bari</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/homepage.css">
	<script src="https://kit.fontawesome.com/d16223103c.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
	<nav class="navbar navbar-default">
  	<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fas fa-home"> ঘর-বাড়ী</i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <ul class="nav navbar-nav">
		   <!-- class="active" -->
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        			<% if(!currentUser){ %>
						<li><a href="/login">LOGIN <i class="fas fa-sign-in-alt"></i> </a></li>
						<li><a href="/signup">SIGN UP <i class="fas fa-user-plus"></i></a></li>
					<% } else { %>
						<li><a href="#">LOGGED IN AS <%= currentUser.username %> <i class="fas fa-fingerprint"></i></a></li>
						<li><a href="/logout">LOGOUT <i class="fas fa-sign-out-alt"></i></a></li>
					<% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="container">
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert"><%= error %></div>
	<% } %>
		
	<% if(success && success.length > 0){ %>
		<div class="alert alert-success" role="alert"><%= success %></div>
	<% } %>
		
</div>
	
	<div id="content">
		<h1>ঘর-বাড়ী</h1>
		<h2 class="u">The Largest Flat Buy & Sell Site in BD</h2>
		<a href="/flats" class="btn btn-default btn-lg orange"><i class="fas fa-paw"></i> Get Started!</a>
		
		
	</div>			
