body {
    background: #E2861A;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar .navbar-brand {
    color: #3D3031;  
}
#mainNavbar .navbar-brand:hover {
    color: #80DD6D;  
}

#mainNavbar {
    font-size: 1.5em;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #80DD6D;
}

html {
    overflow-x: hidden;
}

#headingGroup span{
    color: red;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.one {
    margin-top: 100px;
}

@media (max-width: 1300px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }

}

h2 {
	margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2.2rem;
    color: #EA1C2C;
    font-weight: 100;
}
#icon {
    margin-top: 30px;
    font-size: 1.5rem;
	color: #375A5E;
	font-weight: bold;
}
#inf{
	font-style: italic;
	color: #3F6A9F;
}
#about-name{
	color: #2721D2;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled {
    background: #1AAFE2;
    transition: background 500ms;
  }
.nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
}
h1{
	color: #4CC57E;
}
#quote{
	font-style: italic;
	font-size: 1.1rem;
}
#headingGroup #auth{
	color: #475C71;
}
