.row{
	margin-top: 20px;
	margin-left: 70px;
	margin-right: 70px;
	background: -webkit-linear-gradient(top, #7579ff, #b224ef);
	border-radius: 14px;
}
body{
	background: #72DF15;
}
html {
	height: 100%;
}
html {
    overflow-x: hidden;
}
a{
	color: #E18F12;
}
p{
	text-align: center; 
	font-size: 2.5em; 
	margin-top: 100px;
	
	color: red;
}
.btn-primary:hover{
	background-color: #5BD24C;
	border-color: #5BD24C;
}
#l-s{
	text-align:center;
	color: #3DDE1F;
}
.form-control{
	font-size: 18px;
    background: #f7f7f7;
    box-sizing: border-box;
    color: #B1680D;
    border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}
#back{
	font-size: 1.5em; 
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .form-control:focus {
  z-index: 2;
}