.navbar{
	border:none;
	border-radius: 0px;
	font-size: 1.5em;
    font-weight: 100;
}
.bg-dark{
	background-color: #4F15DF!important;
}
.navbar-dark .navbar-brand{
    color: #75DF15;
}

.navbar-dark .navbar-brand:hover{
    color: #1575DF;
}

.navbar-dark .navbar-nav .nav-link{
	color: #80DD6D;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #1575DF;
}
.jumbotron {
	margin-top: 100px;
    color: #3D13CC;
	background: url("https://media.gettyimages.com/photos/empty-wood-table-top-on-blur-abstract-green-from-garden-and-house-picture-id928765222?					b=1&k=6&m=928765222&s=612x612&w=0&h=bQ1mTUf7CudU0-wTVHu972Oqh7-quxBx3_t1b1q_yiY=");
	background-size: cover;
}
.navbar-default .navbar-collapse {
	border:none;
}
body {
    font-family: 'Nunito', sans-serif;
	background: #D2E13E;
}

.btn-info:hover{
	background-color: #0B412D;
	border-color: #0B412D;
	
}
